/* 1. The Parent Container */
.scroller-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* 2. The Sections */
.section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  padding-top: 3rem;
}
.section.two {
  padding-top: 8rem;
}
.section.three {
  padding-top: 1rem;
}

/* Hide scrollbar for a cleaner "app-like" look (Optional) */
.scroller-container::-webkit-scrollbar {
  display: none;
}
.scroller-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 1024px) {
  .scroller-container {
    height: auto;
    overflow-y: visible;
  }

  .section {
    height: auto;
    min-height: 100vh;
  }
}
